{% extends 'bhtom_common/base.html' %}
{% load bootstrap4 bhtom_common_extras static %}
{% block title %}Admin Data{% endblock %}
{% block content %}
    {% if request.user.is_staff %}
        <div class="row">
            <div class="col-md-12">
                <!-- Tab Navigation -->
                <ul class="nav nav-tabs" id="tabs">
                    <li class="nav-item">
                        <span class="nav-link active" data-toggle="tab" href="#alerts">CPCS Alerts</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" data-toggle="tab" href="#followup" >CPCS Followup</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" data-toggle="tab" href="#obs">CPCS Observatories</span>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content mt-3">
                    <!-- Alerts Tab -->
                    <div class="tab-pane active" id="alerts" role="tabpanel">
                        <div class="row">
                            <div class="col-md-2">
                                <form method="post" class="mb-2" id="alerts_form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="ivorn" class="form-label-sm">IVORN:</label>
                                        <input type="text" class="form-control form-control-sm" id="ivorn" name="ivorn" value="{{ cpcs_alerts_filters.ivorn }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="ra" class="form-label-sm">RA:</label>
                                        <input type="text" class="form-control form-control-sm" id="ra" name="ra" value="{{ cpcs_alerts_filters.ra }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="dec" class="form-label-sm">DEC:</label>
                                        <input type="text" class="form-control form-control-sm" id="dec" name="dec" value="{{ cpcs_alerts_filters.dec }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="radius" class="form-label-sm">Radius:</label>
                                        <input type="text" class="form-control form-control-sm" id="radius" name="radius" value="{{ cpcs_alerts_filters.radius }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Apply Filters</button>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <table class="table table-hover table-sm sortable" id="alerts_t">
                                    <thead>
                                        <tr>
                                            <th>Ivorn</th>
                                            <th>Ra</th>
                                            <th>Dec</th>
                                            <th>Url</th>
                                            <th>Published</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in cpcs_alerts %}
                                            <tr>
                                                <td>{{ data.ivorn }}</td>
                                                <td>{{ data.ra }}</td>
                                                <td>{{ data.dec }}</td>
                                                <td>{{ data.url }}</td>
                                                <td>{{ data.published }}</td>
                                                <td>{{ data.comment }}</td>
                                                
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="6">No data yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Followup Tab -->
                    <div class="tab-pane" id="followup" role="tabpanel">
                        <div class="row">
                            <div class="col-md-2">
                                <form method="post" class="mb-2" id="followup_form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="alert" class="form-label-sm">Alert:</label>
                                        <input type="text" class="form-control form-control-sm" id="alert" name="alert" value="{{ cpcs_followup_filters.alert }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="observatory" class="form-label-sm">Observatory:</label>
                                        <input type="text" class="form-control form-control-sm" id="observatory" name="observatory" value="{{ cpcs_followup_filters.observatory }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="catalog" class="form-label-sm">Catalog:</label>
                                        <input type="text" class="form-control form-control-sm" id="catalog" name="catalog" value="{{ cpcs_followup_filters.catalog }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="filter" class="form-label-sm">Filter:</label>
                                        <input type="text" class="form-control form-control-sm" id="filter" name="filter" value="{{ cpcs_followup_filters.filter }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="data_from" class="form-label-sm">Data From:</label>
                                        <input type="text" class="form-control form-control-sm" id="data_from" name="data_from" value="{{ cpcs_followup_filters.data_from }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="data_to" class="form-label-sm">Data To:</label>
                                        <input type="text" class="form-control form-control-sm" id="data_to" name="data_to" value="{{ cpcs_followup_filters.data_to }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Apply Filters</button>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <table class="table table-hover table-sm sortable" id="followup_t">
                                    <thead>
                                        <tr>
                                            <th>Alert</th>
                                            <th>Observatory</th>
                                            <th>MJD</th>
                                            <th>Mag</th>
                                            <th>Mag Err</th>
                                            <th>Calib Err</th>
                                            <th>Catalog</th>
                                            <th>Filters</th>
                                            <th>Npoints</th>
                                            <th>Match Dist</th>
                                            <th>Exp Time</th>
                                            <th>Calib Date</th>
                                            <th>Comment</th>
                                            <th></th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in cpcs_followup %}
                                            <tr>
                                                <td>{{ data.ivorn }}</td>
                                                <td>{{ data.observatory_name }}</td>
                                                <td>{{ data.mjd }}</td>
                                                <td>{{ data.mag }}</td>
                                                <td>{{ data.mag_err }}</td>
                                                <td>{{ data.calib_err }}</td>
                                                <td>{{ data.catalog_name }}</td>
                                                <td>{{ data.filters }}</td>
                                                <td>{{ data.npoints }}</td>
                                                <td>{{ data.match_dist }}</td>
                                                <td>{{ data.exp_time }}</td>
                                                <td>{{ data.calib_date }}</td>
                                                <td>{{ data.comment }}</td>
                                                <td>
                                                    {% if data.id %}
                                                        <a class="btn btn-sm btn-primary" href="{% url 'bhtom_dataproducts:download_archive_photometry' data.id %}">Download</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="13">No data yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Observatories Tab -->
                    <div class="tab-pane" id="obs" role="tabpanel">
                        <div class="row">
                            <div class="col-md-2">
                                <form method="post" class="mb-2" id="obs_form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="name" class="form-label-sm">Observatory name:</label>
                                        <input type="text" class="form-control form-control-sm" id="name" name="name" value="{{ cpcs_observatories_filters.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="lon" class="form-label-sm">Lon:</label>
                                        <input type="text" class="form-control form-control-sm" id="lon" name="lon" value="{{ cpcs_observatories_filters.lon }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="lat" class="form-label-sm">Lat:</label>
                                        <input type="text" class="form-control form-control-sm" id="lat" name="lat" value="{{ cpcs_observatories_filters.lat }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Apply Filters</button>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <table class="table table-hover table-sm sortable" id="obs_t">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Lon</th>
                                            <th>Lat</th>
                                            <th>Filters</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in cpcs_observatories %}
                                            <tr>
                                                <td>{{ data.name }}</td>
                                                <td>{{ data.lon }}</td>
                                                <td>{{ data.lat }}</td>
                                                <td>{{ data.filters }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="4">No data yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- JavaScript to handle tab persistence -->
    <script>
        $(document).ready(function() {
            // Restore active tab based on localStorage
            var activeTab = localStorage.getItem('activeTab');
            if (activeTab) {
                $('#tabs a[href="' + activeTab + '"]').tab('show');
            }

            // Store active tab in localStorage
            $('#tabs a').on('click', function(e) {
                localStorage.setItem('activeTab', $(this).attr('href'));
            });

            // Initialize DataTables without search box
            $('#alerts_t').DataTable({
                searching: false 
            });
            $('#followup_t').DataTable({
                searching: false
            });
            $('#obs_t').DataTable({
                searching: false 
            });
        });
    </script>
{% endblock %}
