{% extends 'bhtom_common/base.html' %}
{% load bootstrap4 bhtom_common_extras static %}
{% block title %}Admin Data{% endblock %}
{% comment %} {% block additional_css %}
    <link rel="stylesheet" href="{% static 'bhtom_common/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bhtom_targets/css/main.css' %}">
{% endblock %} {% endcomment %}
{% block content %}
    {% if request.user.is_staff %}
        <div class="row">
            <div class="col-md-12">
                <!-- Tab Navigation -->
                <ul class="nav nav-tabs" id="tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#alerts" role="tab">CPCS Alerts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#followup" role="tab">CPCS Followup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#obs" role="tab">CPCS Observatories</a>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content mt-3">
                    <!-- Alerts Tab -->
                    <div class="tab-pane fade show active" id="alerts" role="tabpanel">
                        <div class="row">
                            <div class="col-md-2">
                                <form method="post" class="mb-2">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="ivorn" class="form-label-sm">IVORN:</label>
                                        <input type="text" class="form-control form-control-sm" id="ivorn" name="ivorn">
                                    </div>
                                    <div class="form-group">
                                        <label for="ra" class="form-label-sm">RA:</label>
                                        <input type="text" class="form-control form-control-sm" id="ra" name="ra">
                                    </div>
                                    <div class="form-group">
                                        <label for="dec" class="form-label-sm">DEC:</label>
                                        <input type="text" class="form-control form-control-sm" id="dec" name="dec">
                                    </div>
                                    <div class="form-group">
                                        <label for="radius" class="form-label-sm">Radius:</label>
                                        <input type="text" class="form-control form-control-sm" id="radius" name="radius">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Apply Filters</button>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <table class="table table-hover table-sm sortable" id="alerts_t">
                                    <thead>
                                        <tr>
                                            <th>Ivorn</th>
                                            <th>Ra</th>
                                            <th>Dec</th>
                                            <th>Url</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in cpcs_alerts %}
                                            <tr>
                                                <td>{{ data.ivorn }}</td>
                                                <td>{{ data.ra }}</td>
                                                <td>{{ data.dec }}</td>
                                                <td>{{ data.url }}</td>
                                                <td>{{ data.comment }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="6">No data yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Followup Tab -->
                    <div class="tab-pane fade" id="followup" role="tabpanel">
                        <div class="row">
                            <div class="col-md-2">
                                <form method="post" class="mb-2">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="alert" class="form-label-sm">Alert:</label>
                                        <input type="text" class="form-control form-control-sm" id="alert" name="alert">
                                    </div>
                                    <div class="form-group">
                                        <label for="observatory" class="form-label-sm">Observatory:</label>
                                        <input type="text" class="form-control form-control-sm" id="observatory" name="observatory">
                                    </div>
                                    <div class="form-group">
                                        <label for="catalog" class="form-label-sm">Catalog:</label>
                                        <input type="text" class="form-control form-control-sm" id="catalog" name="catalog">
                                    </div>
                                    <div class="form-group">
                                        <label for="filter" class="form-label-sm">Filter:</label>
                                        <input type="text" class="form-control form-control-sm" id="filter" name="filter">
                                    </div>
                                    <div class="form-group">
                                        <label for="data_from" class="form-label-sm">Data From:</label>
                                        <input type="text" class="form-control form-control-sm" id="data_from" name="data_from">
                                    </div>
                                    <div class="form-group">
                                        <label for="data_to" class="form-label-sm">Data To:</label>
                                        <input type="text" class="form-control form-control-sm" id="data_to" name="data_to">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Apply Filters</button>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <table class="table table-hover table-sm sortable" id="followup_t">
                                    <thead>
                                        <tr>
                                            <th>Alert</th>
                                            <th>Observatory</th>
                                            <th>MJD</th>
                                            <th>Mag</th>
                                            <th>Mag Err</th>
                                            <th>Calib Err</th>
                                            <th>Catalog</th>
                                            <th>Filter ID</th>
                                            <th>Comment</th>
                                            <th>Npoints</th>
                                            <th>Match Dist</th>
                                            <th>Exp Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in cpcs_followup %}
                                            <tr>
                                                <td>{{ data.ivorn }}</td>
                                                <td>{{ data.observatory_name }}</td>
                                                <td>{{ data.mjd }}</td>
                                                <td>{{ data.mag }}</td>
                                                <td>{{ data.mag_err }}</td>
                                                <td>{{ data.calib_err }}</td>
                                                <td>{{ data.catalog_name }}</td>
                                                <td>{{ data.filters }}</td>
                                                <td>{{ data.comment }}</td>
                                                <td>{{ data.npoints }}</td>
                                                <td>{{ data.match_dist }}</td>
                                                <td>{{ data.exp_time }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="12">No data yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Observatories Tab -->
                    <div class="tab-pane fade" id="obs" role="tabpanel">
                        <div class="row">
                            <div class="col-md-2">
                                <form method="post" class="mb-2">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="name" class="form-label-sm">Name:</label>
                                        <input type="text" class="form-control form-control-sm" id="name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lon" class="form-label-sm">Lon:</label>
                                        <input type="text" class="form-control form-control-sm" id="lon" name="lon">
                                    </div>
                                    <div class="form-group">
                                        <label for="lat" class="form-label-sm">Lat:</label>
                                        <input type="text" class="form-control form-control-sm" id="lat" name="lat">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Apply Filters</button>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <table class="table table-hover table-sm sortable" id="obs_t">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Lon</th>
                                            <th>Lat</th>
                                            <th>Filters</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in cpcs_observatories %}
                                            <tr>
                                                <td>{{ data.name }}</td>
                                                <td>{{ data.lon }}</td>
                                                <td>{{ data.lat }}</td>
                                                <td>{{ data.filters }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="4">No data yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    
    <script>
        $(document).ready(function() {
            // Initialize DataTables without search box
            $('#alerts_t').DataTable({
                searching: false 
            });
            $('#followup_t').DataTable({
                searching: false
            });
            $('#obs_t').DataTable({
                searching: false 
            });
        });
    </script>
{% endblock %}
