{% extends 'bhtom_common/base.html' %}
{% load bootstrap4 bhtom_common_extras static %}
{% block title %}Admin Data{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'bhtom_common/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bhtom_targets/css/main.css' %}">
{% endblock %}
{% block content %}
    {% if request.user.is_staff %}

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="tabs">
                    <li class="nav-item">
                        <span class="nav-link active" data-target="#alerts"
                              data-toggle="tab">CPCS_Alerts</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" data-target="#calib" data-toggle="tab">CPCS_Archive_Calib</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" data-target="#catalog" data-toggle="tab">Cpcs_Catalogs</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" data-target="#followup" data-toggle="tab">Cpcs_Followup</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" data-target="#obs" data-toggle="tab">Cpcs_Observatories</span>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="alerts">
                        <table class="table table-hover sortable" id="alerts_t" >
                            <thead>
                            <tr>
                                <th>Ivorn</th>
                                <th>Ra</th>
                                <th>Dec</th>
                                <th>Url</th>
                                <th>published</th>
                                <th>comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in cpcs_alerts %}
                                <tr>  
                                    <td>{{ data.ivorn }}</td>
                                    <td>{{ data.ra}}</td>
                                    <td>{{ data.dec }}</td>
                                    <td>{{ data.url }}</td>
                                    <td>{{ data.published }}</td>
                                    <td>{{ data.comment }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">
                                        No data yet.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="calib">
                        <table class="table table-hover sortable" id="calib_t" >
                            <thead>
                            <tr>
                                <th>Target</th>
                                <th>Ra</th>
                                <th>Dec</th>
                                <th>Observer</th>
                                <th>Facility</th>
                                <th>MJD</th>
                                <th>Mag</th>
                                <th>Mag err</th>
                                <th>Exp time</th>
                                <th>Zeropoint</th>
                                <th>Outlier fraction</th>
                                <th>Scater</th>
                                <th>Npoints</th>
                                <th>Filter</th>
                                <th>Survey</th>
                                <th>Match distans</th>
                                <th>Observatory lon</th>
                                <th>Observatory lat</th>
                                <th>Source</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in cpcs_archive_calib %}
                                <tr>
                                    <td>{{ data.observation_target_name }}</td>
                                    <td>{{ data.ra}}</td>
                                    <td>{{ data.dec }}</td>
                                    <td>{{ data.observer }}</td>
                                    <td>{{ data.facility }}</td>
                                    <td>{{ data.mjd }}</td>
                                    <td>{{ data.mag}}</td>
                                    <td>{{ data.mag_err }}</td>
                                    <td>{{ data.exp_time }}</td>
                                    <td>{{ data.zeropoint }}</td>
                                    <td>{{ data.outlier_fraction }}</td>
                                    <td>{{ data.scater}}</td>
                                    <td>{{ data.npoints }}</td>
                                    <td>{{ data.filter }}</td>
                                    <td>{{ data.survey }}</td>
                                    <td>{{ data.match_distans }}</td>
                                    <td>{{ data.observatory_lon }}</td>
                                    <td>{{ data.observatory_lat }}</td>
                                    <td>{{ data.source }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">
                                        No data yet.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="catalog">
                        <table class="table table-hover sortable" id="catalog_t" >
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Filters</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in cpcs_catalogs %}
                                <tr>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.filters}}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">
                                        No data yet.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="followup">
                        <table class="table table-hover sortable" id="followup_t">
                            <thead>
                            <tr>
                                <th>Alert id</th>
                                <th>Observatory id</th>
                                <th>mjd obs</th>
                                <th>mag</th>
                                <th>mag err</th>
                                <th>calib err</th>
                                <th>catalog id</th>
                                <th>filter id</th>
                                <th>comment</th>
                                <th>npoints</th>
                                <th>match dist</th>
                                <th>exp time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in cpcs_followup %}
                                <tr>
                                    <td>{{ data.alert_id }}</td>
                                    <td>{{ data.observatory_id}}</td>
                                    <td>{{ data.mjd_obs }}</td>
                                    <td>{{ data.mag }}</td>
                                    <td>{{ data.mag_err }}</td>
                                    <td>{{ data.calib_err }}</td>
                                    <td>{{ data.catalog_id}}</td>
                                    <td>{{ data.filter_id }}</td>
                                    <td>{{ data.comment }}</td>
                                    <td>{{ data.npoints }}</td>
                                    <td>{{ data.match_dist }}</td>
                                    <td>{{ data.exp_time}}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">
                                        No data yet.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="obs">
                        <table class="table table-hover sortable" id="obs_t">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Lon</th>
                                <th>Lat</th>
                                <th>Filters</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in cpcs_observatories %}
                                <tr>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.lon}}</td>
                                    <td>{{ data.lat }}</td>
                                    <td>{{ data.filters }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">
                                        No data yet.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- jQuery -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function() {

        $('#alerts_t').DataTable({
            searching: true,
            paging: true,
            ordering: true,
        });
    
        // Initialize DataTable for calib table
        $('#calib_t').DataTable({
            searching: true,
            paging: true,
            ordering: true,
        });
        
        $('#catalog_t').DataTable({
            searching: true,
            paging: true,
            ordering: true,
        });
    
        // Initialize DataTable for calib table
        $('#followup_t').DataTable({
            searching: true,
            paging: true,
            ordering: true,
        });

        $('#obs_t').DataTable({
            searching: true,
            paging: true,
            ordering: true,
        });
    
    });
</script>

{% endblock %}
