{% extends 'bhtom_common/base.html' %}
{% load bootstrap4 static targets_extras cache %}
{% block title %} Data Product Details {% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'bhtom_observations/css/main.css' %}">
    <style>
        .dhtmlwindow {
            top: 100px !important;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'bhtom_dataproducts/partials/js9_scripts.html' %}

    <h1>Target: {{ target.name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Fits</td>
                    <td>
                        <div title="{{ fits_data }}">{{ fits_data }}</div>
                    </td>
                </tr>
                <tr>
                    <td>Photometry</td>
                    {% if photometry_data is not None %}
                        <td>
                            <a href="{% url 'bhtom_dataproducts:photometry_download' id=object.id %}"> {{ photometry_data }}</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                 <tr>
                    <td>Owner</td>
                    <td>{{ owner }}</td>
                </tr>
                <tr>
                    <td>Observatory</td>
                    <td>{{ object.observatory }}</td>
                </tr>
                <tr>
                    <td>Time Uploaded</td>
                    {% if object.created != None %}
                        <td>{{ object.created }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Time Photometry</td>
                    {% if calibration.modified != None %}
                        <td>{{ calibration.modified }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ calibration.status_message }}</td>
                </tr>
                <tr>
                    <td>MJD</td>
                    {% if calibration.mjd != None %}
                        <td>{{ calibration.mjd }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
                <tr>
                    <td>Exposure time</td>
                    {% if calibration.expTime != None %}
                        <td>{{ calibration.expTime }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
                <tr>
                    <td>Calib Filter</td>
                    <td>{{ calibration.best_filter }}</td>
                </tr>

                <tr>
                    <td>Magnitude</td>
                    {% if calibration.mag != None %}
                        <td>{{ calibration.mag|floatformat:2 }} +/- {{ calibration.mag_error|floatformat:2 }} mag</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
                <tr>
                    <td>ZP</td>
                    {% if calibration.zeropoint != None %}
                        <td>{{ calibration.zeropoint|floatformat:2 }} mag</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
                <tr>
                    <td>Scatter</td>
                    {% if calibration.scatter != None %}
                        <td>{{ calibration.scatter|floatformat:3 }} mag</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
                <tr>
                    <td>Number of datapoints used for calibration</td>
                    {% if calibration.npoints != None %}
                        <td>{{ calibration.npoints }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
                <tr>
                    <td>Outlier fraction</td>
                    {% if calibration.outlier_fraction != None %}
                        <td>{{ calibration.outlier_fraction|floatformat }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
                <tr>
                    <td>Matching radius[arcsec]</td>
                    <td>{{ calibration.match_distans }}</td>
                </tr>
                <tr>
                    <td>Dry Run (no data will be stored in the database)</td>
                    <td>{{ object.dryRun }}</td>
                </tr>
                <tr>
                    <td>Comment</td>
                    {% if object.comment != None %}
                        <td>{{ object.comment }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                <!--

-->
                </tbody>
            </table>
        </div>

        {% if cpcs_plot != None %}

            <div class="col-md-2">

                <img src="data:image/png;base64,{{ cpcs_plot }}"/>
            </div>
        {% endif %}
    </div>



{% endblock %}
