{% load bootstrap4 targets_extras bhtom_targets_extras dataproduct_extras cache static%}
{% cache 86400 targets_list_cache object_list using="targetList" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'bhtom_common/css/main.css' %}">
<table class="table table-hover sortable">
    <thead>
        <tr>
            <th><label><input type="checkbox" id="selectPage" onClick="select_page(this, {{ target_count }})" /></label>
            </th>
            <th>Names</th>
            <th>RA</th>
            <th>Dec</th>
            <th>Nobs</th>
            <th>Last Gmag</th>
            <th>Last Filter</th>
            <th>Importance</th>
            <th>Created</th>
            <th>Priority</th>
            <th>Sun</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        {% for target in object_list %}
        <tr>
            <td><label>
                    <input type="checkbox" name="selected-target" value="{{ target.id }}" onClick="single_select()" />
                </label></td>
            <td>
                <a href="{% url 'targets:detail' target.name %}" title="{{ target.name }}">{{ target.name }}</a>
            </td>

            <td>{{ target.ra|deg_to_sexigesimal:"hms" }}</td>
            <td>{{ target.dec|deg_to_sexigesimal:"dms" }}</td>
            <td>{{ target.reduceddatum_set.count }}</td>
            <td>{{ target.mag_last|floatformat:1 }}</td>
            <td>{{ target.filter_last }}</td>
            <td>{{ target.importance }}</td>
            <td>{{ target.created }}</td>
            <td>
                {% if target.cadencepriority >= 10 %}
                <div class="red">
                    {% else %}
                    <div>
                        {% endif %}
                        {{ target.priority|floatformat:1 }}
                    </div>
            </td>
            <td>{{ target.sun_separation|floatformat:0 }}</td>
            <td>{{ target.get_classification_type_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">
                {% if target_count == 0 %}
                No targets yet.
                {% else %}
                No targets match those filters.
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endcache %}