#main DB
POSTGRES_HOST="host.docker.internal"
POSTGRES_NAME=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_PORT=5430

#local wsdb cache
WSDB_LOCAL_HOST="host.docker.internal"
WSDB_LOCAL_NAME=""
WSDB_LOCAL_USER=""
WSDB_LOCAL_PASSWORD=""
WSDB_LOCAL_POST=5431
WSDB_ITER_SIZE = 20000 # save batch

WSDB_CAMBRIDGE_HOST=""
WSDB_CAMBRIDGE_NAME=""
WSDB_CAMBRIDGE_USER=""
WSDB_CAMBRIDGE_PASSWORD=""
WSDB_CAMBRIDGE_PORT=5432

#ssh server - connent to wsdb
LOCAL_DB_HOST = "localhost"
SSH_USSER=""
SSH_PASSWORD=""
SSH_HOST=""
SSH_POST=22
SSH_USE =True #false use wsdb properties/ true connect with ssh

KAFKA_HOST_PORT = "kafka1:19092"
KAFKA_CALIB_GROUP="calib_group"
KAFKA_WSDB_GROUP="wsdb_group"
KAFKA_HARVESTER_GROUP="harvester_group"

#aplication
ALLOWED_HOSTS="localhost,0.0.0.0,127.0.0.1,host.docker.internal"
SITE_ID = 1
DEBUG = True
SECRET_KEY = ''

#superuser in bhtom
ADMIN_USERNAME=""
ADMIN_PASSWORD=""
ADMIN_EMAIL=""

LOG_FOLDER = 'log' #folder to save log
LOG_CADENCE = 'M'  #roll log M-minutes
LOG_INTERVAL = 10  # 10 Minutes
LOG_BACKUP_COUNT = 20 #max 20 file
LOG_LEVEL='DEBUG'

#greylog:
GRAYLOG_HOST = "host.docker.internal"
GRAYLOG_PORT = 12201

#CPCS
MAX_OUT_FRAC = 0.3  # maximum allowed fraction of outliers
GOOD_MAX_MAG = 50  # maximum sex magnitude allowed
MIN_POINTS = 3  # minimum number of points required for the calibration
MIN_PRECISION = 0.5  # minimum required precision
MAX_CAT_ERROR = 0.3  # maximum allowed error for points in the catalogue
DPI = 120
FONT_SIZE = 6
CALIBRATION_TRIES = 2

BHTOM_URL = "http://host.docker.internal:8010"
UPLOAD_SERVICE_URL = "http://host.docker.internal:8040/"
CPCS_URL = "http://host.docker.internal:8030"
CCDPHOT_URL = ""

DATA_STORE_PATH = 'D:/projekty/bhtom/data_store' #params for docker
DATA_FILE_PATH = '../data'  #params for aplication (or './data')

DELETE_FITS_FILE_DAY = 7 #delete fits file

TNS_API_KEY = ""
SENTRY_SDK_DSN="https://sth@sth.ingest.sentry.io/sth"
LCO_API_KEY=''