{% load targets_extras %}

<div class="text" style="font-family: 'Montserrat', sans-serif">
    <h1>Microlensing model for <b style="color:#1b6d85">{{ target|safe }}</b></h1>
      <p style="font-size: small; text-align: justify">Gravitational microlensing model using MulensModel (Poleski&Yee 2018)</p>
      <hr>
  </div>
  <div class="light-curve" style="font-family: 'Montserrat', sans-serif">
      <p style="color: #ba2121">{{ error_message|safe }}</p>

      <p>Fit initial values:</p>
      <form method="get">
      <label for="init_t0">t0:</label>
      <input type="text" name="init_t0" id="init_t0" value="{{ init_t0|floatformat:6 }}">
      <label for="init_te">tE:</label>
      <input type="text" name="init_te" id="init_te" value="{{ init_te|floatformat:6 }}">
      <label for="init_u0">u0:</label>
      <input type="text" name="init_u0" id="init_u0" value="{{ init_u0|floatformat:6 }}">
      <label for="logu0">logu0:</label>
      <input type="checkbox" name="logu0" value="True" {% if logu0 == True %}checked{% endif %}>
      <br>
      <label for="auto_init" style="color: rgb(0, 255, 13);">auto_init:</label>
      <input type="checkbox" name="auto_init" value="True" {% if auto_init == True %}checked{% endif %}>
      
        <p> 
          <label>Available filters:</label>
          <br><br>
          <!-- {% for filter, checked in sel.items %}
          <input type="checkbox" name="selected_filters" value="{{ filter }}" {% if checked %}checked{% endif %}> {{ filter }}  
          <br>
          {% endfor %}
          {% for filter, counts in filter_counts.items %}
          {{ filter }} {{ counts}}  
          <br>
          {% endfor %} -->
          
          {% for filter, checked in sel.items %}
          {% with counts=filter_counts|default:""|get_item:filter %}
              <input type="checkbox" name="selected_filters" value="{{ filter }}" {% if checked %}checked{% endif %}> {{ filter }} {{ counts }}
              <br>
          {% endwith %}
      {% endfor %}
      

          <!-- {% for filter, counts in filter_counts.items %}
    {% if filter in sel %}
        <input type="checkbox" name="selected_filters" value="{{ filter }}" {% if checked %}checked{% endif %}> {{ filter }}
    {% else %}
        <input type="checkbox" name="selected_filters" value="{{ filter }}"> {{ filter }}
    {% endif %}
    {{ counts }}<br>
{% endfor %} -->

          <br>
          <input type="submit" style="color: whitesmoke; background: #1b6d85; border: none; border-radius: 5px;padding: 10px" value="Reload data">
        </form>
        
        <hr>
        <div class="plot-container">
            {{ plot_div|safe }}
        </div>
        
        <p>t0: <span style="position: absolute; left: 2rem">{{ fit_t0|safe }}</span></p>
      <p>{{ criticalLevel|safe }}<span style="position: absolute; right: 2rem">{{ criticalLevel_value|safe }}</span></p>
      <p>{{ Chi2Test|safe }}<span style="position: absolute; right: 2rem">{{ Chi2Test_value|safe }}</span></p>
      <p>{{ NDF|safe }}<span style="position: absolute; right: 2rem">{{ NDF_value|safe }}</span></p>
      <p>{{ Chi2NDF|safe }}<span style="position: absolute; right: 2rem">{{ Chi2NDF_value|safe }}</span></p>
      <p style="color:#1b6d85; text-align: justify"><b>{{ conclusion|safe }}</b></p>
      <hr>
      {{ plot|safe }}
      <hr>
      <h4>Fitting curve properties<span style="position: absolute; right: 2rem">(years, months, days) |JD time</span></h4>
      <p>{{ microStartTime|safe }}<span style="position: absolute; right: 2rem">{{ microStartTime_value|safe }}</span></p>
      <p>{{ microEndTime|safe }}<span style="position: absolute; right: 2rem">{{ microEndTime_value|safe }}</span></p>
      <p>{{ duration|safe }}<span style="position: absolute; right: 2rem">{{ duration_value|safe }}</span></p>
      <p>{{ remainingTime|safe }}<span style="position: absolute; right: 2rem">{{ remainingTime_value|safe }}</span></p>
      <p>{{ maximumMagnitude|safe }}<span style="position: absolute; right: 2rem">{{ maximumMagnitude_value|safe }}</span></p>
      <p>{{ maximumMagnitudeTime|safe }}<span style="position: absolute; right: 2rem">{{ maximumMagnitudeTime_value|safe }}</span></p>
      <hr>
      <h4>Fitted parameters (uncertainty)<span style="position: absolute; right: 2rem">Check</span></h4>
      <p>{{ t0|safe }}<span style="position: absolute; right: 2rem">{{ t0_check|safe }}</span></p>
      <p>{{ te|safe }}<span style="position: absolute; right: 2rem">{{ te_check|safe }}</span></p>
      <p>{{ u0|safe }}<span style="position: absolute; right: 2rem">{{ u0_check|safe }}</span></p>
      <p>{{ I0|safe }}<span style="position: absolute; right: 2rem">{{ I0_check|safe }}</span></p>
      <p>{{ fs|safe }}</p>
      <hr>
      <p style="font-size: small">{{ executionTime|safe }}</p>
  </div>
  <div style="font-family: 'Montserrat', sans-serif; color:#7F8177">
      <hr>
      <p>Created by Kacper Raciborski/Lukasz Wyrzykowski 2022-2023, University of Warsaw.</p>
  </div>