{% load bhtom_common_extras %}
<div class="card text-white bg-dark">
    <div class="card-header">
    <h4>
        Photometry Stats
    </h4>
    </div>
    <table class="table">
        <thead><tr><th>Facility</th><th>Observers<th>Filters</th><th>Number</th><th>Min MJD</th><th>Max MJD</th></tr>
        </thead>
        <tbody>
        {% for datum in data %}
        <tr>
            <td>{{ datum.Facility }}</td>
            <td>{{ datum.Observers }}</td>
            <td>{{ datum.Filters }}</td>
            <td>{{ datum.Data_points }}</td>
            <td>{{ datum.Min_MJD }}</td>
            <td>{{ datum.Max_MJD }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No photometry.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
