{% load bhtom_common_extras %}
<div class="card text-white bg-dark">
    <div class="card-header">
    Photometry Stats
    </div>
    <table class="table">
        <thead><tr><th>Facility</th><th>Filters</th><th>Number</th></tr>
        </thead>
        <tbody>
        {% for datum in data %}
        <tr>
            <td>{{ datum.Facility }}</td>
            <td>{{ datum.Filters }}</td>
            <td>{{ datum.Data_points }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No photometry.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
