{% load bhtom_common_extras %}
<div class="card text-white bg-dark">
    <div class="card-header">
      Recent Photometry
    </div>
    <table class="table">
        <thead><tr><th>Timestamp</th><th>Magnitude</th><th>Filter</th><th>Facility</th><th>Observer</th></tr>
        </thead>
        <tbody>
        {% for datum in data %}
        <tr>
            <td>{{ datum.timestamp }}</td>
            <td>{{ datum.magnitude|truncate_number }}</td>
            <td>{{ datum.filter }}</td>
            <td>{{ datum.facility }}</td>
            <td>{{ datum.observer }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No recent photometry.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
