{% load static bootstrap4 bhtom_common_extras %}
<!doctype html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C6NWTCL3HF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-C6NWTCL3HF');
  </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'bhtom_common/css/main.css' %}">
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    {% block additional_css %}
    {% endblock %}
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    {% bootstrap_javascript jquery='True' %}

    <title>{{ logo_text }} | {% block title %}{% endblock %}</title> <!-- Dynamiczny tytuł -->
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="{% static 'logo.png' %}" class="img-fluid"> {{ logo_text }}</a> <!-- Dynamiczny tekst logo -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% comment "Navbar Content Template" %}
          The navbar_content.html template defines the list (li) of nav-items that appear
          in the navbar-nav (ul).

          To customize your navbar-nav in your TOM:
          1. Create a templates/bhtom_common directory at the project level.
          2. Copy bhtom_common/templates/bhtom_common/navbar_content.html to your project's
             templates/bhtom_common directory.
          3. Customize your navbar content by editing your navbar_content.html.

          For more information,
          see the Django tutorial, "Writing your first Django app",
          Part 7, Section "Customize the admin look and feel"
          {% endcomment %}
            {% include 'bhtom_common/navbar_content.html' %}

        </ul>
        <ul class="navbar-nav ml-auto" id="login-buttons">
            {% navbar_login %}
        </ul>
    </div>

</nav>

 {% if PROFILE != 'PROD' %}
<div class="alert alert-danger" role="alert">
  This is a Test environment.
</div>
{% endif %}


<main role="main" class="container-fluid">
    {% bootstrap_messages %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</main>

{% block javascript %}
{% endblock %}
{% block extra_javascript %}
{% endblock %}
</body>
</html>
