{% extends 'bhtom_common/base.html' %}
{% load bootstrap4 bhtom_common_extras static %}

{% block title %}Admin Data{% endblock %}


{% block content %}
    {% if request.user.is_staff %}
        <div class="row">
            <div class="col-md-2">
                <form action="" method="get" class="form">
                    {% bootstrap_form filter.form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="{% url 'bhtom_common:list_completed' %}" class="btn btn-secondary" title="Reset">Reset</a>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" id="tabs">
                    <li class="nav-item">
                        <span class="nav-link active" data-target="#fits_s" data-toggle="tab">Completed Fits</span>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="fits_s">
                        <form id="s-fits-form" action="{% url 'bhtom_common:reload_s_fits' %}?next={{ request.path }}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" id="selected-s-fits-ids" name="selected-s-fits-ids" value="">
                            <h4>Delay: {{ delay_fits}} days</h4>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-outline-primary ml-1" name="reload-fits-s">Restart Fits</button>
                            </div>
                            <table id="fits-table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="sort"><input type="checkbox" id="selected-s-fits-checkbox" onclick="toggleSelectAll('selected-s-fits','fits-table')"></th>
                                        <th>Data</th>
                                        <th>Created</th>
                                        <th>Observatory</th>
                                        <th>Target</th>
                                        <th>User</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for fits in fits_s_file %}
                                        <tr>
                                            <td><input type="checkbox" name="selected-s-fits" value="{{ fits.id }}"></td>
                                            <td><a href="/data/{{ fits.data }}">{{ fits.data  }}</a></td>
                                            <td>{{ fits.created }}</td>
                                            <td>{{ fits.observatory }}</td>
                                            <td><a href="{% url 'bhtom_targets:detail' fits.target.name %}">{{ fits.target.name }}</a></td>
                                            <td>{{ fits.user.first_name }}{{ fits.user.last_name }}</td>
                                            <td>
                                                {% if fits.status == "C" %}
                                                    TO DO
                                                {% elif fits.status == "P" %}
                                                    IN PROGRESS
                                                {% elif fits.status == "R" %}
                                                    Send to calibration
                                                {% elif fits.status == "S" %}
                                                    SUCCESS
                                                {% elif fits.status == "E" %}
                                                    ERROR
                                                {% endif %}
                                            </td>
                                            {% if fits.data_product_type == 'fits_file' or fits.data_product_type == 'photometry' %}
                                            <td>
                                                <a href="{% url 'bhtom_dataproducts:dataproduct-details' pk=fits.id %}" title="Show details"
                                                    class="btn btn-primary">Detail</a>
                                            </td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                            </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="7">No data yet.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#fits-error-table').DataTable({
                "searching": false,
                "paging": false,
                "columnDefs": [{
                    "targets": [0], // First column
                    "orderable": false // Disable sorting
                }],
                "drawCallback": function(settings) {
                    // Uncheck the "select all" checkbox when the table redraws
                    $('#selected-fits-checkbox').prop('checked', false);
                }
            });
        });
        
        $(document).ready(function() {
            $('#fits-table').DataTable({
                "searching": false,
                "paging": false,
                "columnDefs": [{
                    "targets": [0], // First column
                    "orderable": false // Disable sorting
                }],
                "drawCallback": function(settings) {
                    // Uncheck the "select all" checkbox when the table redraws
                    $('#selected-fits-checkbox').prop('checked', false);
                }
            });
        });
        
        $(document).ready(function() {
            $('#photometry-table').DataTable({
                "searching": false,
                "paging": false,
                "columnDefs": [{
                    "targets": [0], // First column
                    "orderable": false // Disable sorting
                }],
                "drawCallback": function(settings) {
                    // Uncheck the "select all" checkbox when the table redraws
                    $('#selected-photometry-checkbox').prop('checked', false);
                }
            });
        });
        
        var selectedIds = [];
    
        function toggleSelectAll(checkboxName,tableName) {
            var checkboxes = document.getElementsByName(checkboxName);
            var selectAllCheckbox = document.getElementById(checkboxName + '-checkbox');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = selectAllCheckbox.checked;
            }
        }



        {% comment %} Version with paging {% endcomment %}
        {% comment %} function goToPage(pageIndex, tableName) {
            var pageButtons = document.querySelectorAll('a.paginate_button[aria-controls="' + tableName + '"]');
            for (var i = 0; i < pageButtons.length; i++) {
                if (pageButtons[i].innerText.trim() === pageIndex.toString()) {
                    pageButtons[i].click();
                    break;
                }
            }
        }
     {% endcomment %}

        {% comment %} function updateHiddenField(checkboxName, tableName) {
            selectedIds = [];
            var currentPageIndex = parseInt(document.querySelector('.paginate_button.current').innerText);
            var checkboxes = document.getElementsByName(checkboxName);
            var pageButtons = document.querySelectorAll('a.paginate_button[aria-controls="' + tableName + '"]');
            for (var pageIndex = 1; pageIndex < pageButtons.length; pageIndex++) {
                goToPage(pageIndex,tableName);
                checkboxes = document.getElementsByName(checkboxName);
                for (var j = 0; j < checkboxes.length; j++) {
                    if (checkboxes[j].checked) {
                        var id = checkboxes[j].value;
                        if (!selectedIds.includes(id)) {
                            selectedIds.push(id);
                        }
                    }
                }
            }
            goToPage(currentPageIndex,tableName);
            
            $('#' + checkboxName + '-ids').val(selectedIds.join(','));
        }  {% endcomment %}

        function updateHiddenField(checkboxName, tableName) {
            selectedIds = [];
            var checkboxes = document.getElementsByName(checkboxName);
                for (var j = 0; j < checkboxes.length; j++) {
                    if (checkboxes[j].checked) {
                        var id = checkboxes[j].value;
                        if (!selectedIds.includes(id)) {
                            selectedIds.push(id);
                        }
                    }
                }
            $('#' + checkboxName + '-ids').val(selectedIds.join(','));
        } 
        $('button[name="reload-photometry"]').click(function() {
            updateHiddenField('selected-photometry', "photometry-table");
        });
    
        $('button[name="update-photometry"]').click(function() {
            updateHiddenField('selected-photometry', "photometry-table");
        });
        $('button[name="reload"]').click(function() {
            updateHiddenField('selected-fits','fits-error-table');
        });
      
        $('button[name="update"]').click(function() {
            updateHiddenField('selected-fits','fits-error-table');
        });
        $('button[name="test_reload"]').click(function() {
            updateHiddenField('selected-fits','fits-error-table');
        });
        $('button[name="reload-fits-s"]').click(function() {
            updateHiddenField('selected-s-fits','fits-table');
        });

    </script>
    
{% endblock %}
