{% extends 'bhtom_common/base.html' %}
{% load bootstrap4 bhtom_common_extras static %}
{% block title %}Admin Data{% endblock %}
{% block additional_css %}
    {% comment %} <link rel="stylesheet" href="{% static 'bhtom_common/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bhtom_targets/css/main.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> {% endcomment %}
{% endblock %}

{% bootstrap_javascript jquery='True' %}

{% block content %}
    {% if request.user.is_staff %}

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="tabs">
                    <li class="nav-item">
                        <span class="nav-link" data-target="#photometry"
                              data-toggle="tab">Photometry File</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link active" data-target="#fits" data-toggle="tab">FIts File Error</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" data-target="#fits_s" data-toggle="tab">Completed Fits</span>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="photometry">
                        <form id="data-form" action="{% url 'bhtom_common:reload_photometry' %}" method="POST">
                            {% csrf_token %}
                            <h4>Delay: 7 days</h4>
                            <div class="mb-3"> 
                                <button type="submit" class="btn btn-outline-primary" name="reload">Reload Photometry</button> 
                                <button type="submit" class="btn btn-outline-primary ml-1" name="update">Reload Fits</button>
                            </div>

                            <table id="photometry-table" class="table table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAllPhotometry" onclick="toggleSelectAllPhotometry('selected-photometry')"></th>
                                    <th>Data</th>
                                    <th>Created</th>
                                    <th>Observatory</th>
                                    <th>Target</th>
                                    <th>User</th>
                                    <th>Data Type</th>
                                    <th>Status</th>
                                    <th>Status Message</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in photometry_data %}
                                    <tr>
                                        <td><label>
                                            <input type="checkbox" name="selected-photometry"
                                                   value="{{ data.dataProduct.id }}"
                                                   onClick="single_select()"/>
                                        </label></td>

                                        <td>{{ data.dataProduct.data }}</td>
                                        <td>{{ data.calibData.created }}</td>
                                        <td>{{ data.dataProduct.observatory }}</td>
                                        <td><a href="{% url 'bhtom_targets:detail' data.dataProduct.target.name %}">
                                            {{ data.dataProduct.target.name }}</a></td>
                                        <td>{{ data.dataProduct.user.first_name }} {{ data.dataProduct.user.last_name }}</td>
                                        <td>{{ data.dataProduct.data_product_type }}</td>

                                        <td>
                                            {% if  data.calibData.status == "C" %}
                                                TO DO
                                            {% endif %}
                                            {% if  data.calibData.status == "P" %}
                                                IN PROGRESS
                                            {% endif %}
                                            {% if fits.status == "R" %}
                                                Send to calibration
                                            {% endif %}
                                            {% if  data.calibData.status == "S" %}
                                                SUCCESS
                                            {% endif %}
                                            {% if  data.calibData.status == "E" %}
                                                ERROR
                                            {% endif %}
                                        </td>
                                        <td>{{ data.calibData.status_message }}</td>

                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5">
                                            No data yet.
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="tab-pane active" id="fits">
                        <form id="data-form" action="{% url 'bhtom_common:reload_fits' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                            
                                <button type="submit" class="btn btn-outline-primary ml-1" name="reload">Reload Fits
                                </button>
                                <button type="submit" class="btn btn-outline-primary ml-1" name="update">Update Fits
                                </button>
                            </div>
                            <table id="fits-error-table" class="table table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAllFits" onclick="toggleSelectAllFitsError('selected-fits')"></th>
                                    <th>Data</th>
                                    <th>Created</th>
                                    <th>Observatory</th>
                                    <th>Target</th>
                                    <th>User</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for fits in fits_file %}
                                    <tr>
                                        <td><label>
                                            <input type="checkbox" name="selected-fits" value="{{ fits.dataProduct.id }}"
                                                   onClick="single_select()"/>
                                        </label></td>

                                        <td>{{ fits.dataProduct.data }}</td>
                                        <td>{{ fits.dataProduct.created }}</td>
                                        <td>{{ fits.dataProduct.observatory }}</td>
                                        <td><a href="{% url 'bhtom_targets:detail' fits.dataProduct.target.name %}">
                                            {{ fits.dataProduct.target.name }}</a></td>
                                        <td>{{ fits.dataProduct.user.first_name }} {{ fits.dataProduct.user.last_name }}</td>
                                        <td>
                                            {% if fits.dataProduct.status == "C" %}
                                                TO DO
                                            {% endif %}
                                            {% if fits.dataProduct.status == "P" %}
                                                IN PROGRESS
                                            {% endif %}
                                            {% if fits.dataProduct.status == "R" %}
                                                Send to calibration
                                            {% endif %}
                                            {% if fits.dataProduct.status == "S" %}
                                                SUCCESS
                                            {% endif %}
                                            {% if fits.dataProduct.status == "E" %}
                                                ERROR
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5">
                                            No data yet.
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="tab-pane" id="fits_s">
                        <form id="data-form" action="{% url 'bhtom_common:reload_s_fits' %}" method="POST">
                            {% csrf_token %}
                            <h4>Delay: 3 days</h4>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-outline-primary ml-1" name="reload">Restart Fits
                                </button>
                            </div>
                            <table id="fits-table"  class="table table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAllFitsS" onclick="toggleSelectAllFitsS('selected-s-fits')"></th>
                                    <th>Data</th>
                                    <th>Created</th>
                                    <th>Observatory</th>
                                    <th>Target</th>
                                    <th>User</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for fits in fits_s_file %}
                                    <tr>
                                        <td><label>
                                            <input type="checkbox" name="selected-s-fits" value="{{ fits.id }}"
                                                   onClick="single_select()"/>
                                        </label></td>

                                        <td>{{ fits.data }}</td>
                                        <td>{{ fits.created }}</td>
                                        <td>{{ fits.observatory }}</td>
                                        <td><a href="{% url 'bhtom_targets:detail' fits.target.name %}">
                                            {{ fits.target.name }}</a></td>
                                        <td>{{ fits.user.first_name }}{{ fits.user.last_name }}</td>
                                        <td>
                                            {% if fits.status == "C" %}
                                                TO DO
                                            {% endif %}
                                            {% if fits.status == "P" %}
                                                IN PROGRESS
                                            {% endif %}
                                            {% if fits.status == "R" %}
                                                Send to calibration
                                            {% endif %}
                                            {% if fits.status == "S" %}
                                                SUCCESS
                                            {% endif %}
                                            {% if fits.status == "E" %}
                                                ERROR
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5">
                                            No data yet.
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#photometry-table').DataTable({ "searching": false});
            $('#fits-error-table').DataTable({ "searching": false});
            $('#fits-table').DataTable({ "searching": false});
        });
    </script>
    <script>
        function toggleSelectAllPhotometry(checkboxName) {
            var checkboxes = document.getElementsByName(checkboxName);
            var selectAllCheckbox = document.getElementById('selectAllPhotometry');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = selectAllCheckbox.checked;
            }
        }
        function toggleSelectAllFitsError(checkboxName) {
            var checkboxes = document.getElementsByName(checkboxName);
            var selectAllCheckbox = document.getElementById('selectAllFits');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = selectAllCheckbox.checked;
            }
        }
        function toggleSelectAllFitsS(checkboxName) {
            var checkboxes = document.getElementsByName(checkboxName);
            var selectAllCheckbox = document.getElementById('selectAllFitsS');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = selectAllCheckbox.checked;
            }
        }

        function single_select() {
            count_selected();
            document.getElementById("optionSelectAll").innerHTML = "";
            document.getElementById("selectPage").checked = false;
            document.getElementById("isSelectAll").value = "False";
        }
    </script>
{% endblock %}
