{% extends 'bhtom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras bhtom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-center">Black Hole TOM 2.0</h2>
            <p class="text-center"><img
                    src="https://www.redshift-live.com/binaries/asset/image/22596/image/A_simulated_black_hole_against_the_background_of_the_Milky_Way.jpg"
                    class="img-fluid mx-auto"></p>
            <p class="text-center">(Image courtesy of Ute Kraus.)</p>
            <div>
                <div id="react">
                    <!-- Contents get replaced by mounted React.Component -->
                    <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
                    <i class="pending">Loading components...</i><br><br>
                </div>
            </div>
            <h3>New features</h3>
            <ul>
                <li>Added data harvesters.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    Latest Comments
                </div>
                {% recent_comments %}
            </div>
            <br/>
            <div class="card text-white bg-dark">
                <div class="card-header">
                    Latest Targets
                </div>
                {% recent_targets %}
            </div>
        </div>
    </div>
    <script>
        {#window.props = {{props|json}};  // make sure to escape your props to prevent XSS! See here for the source for the json filter: https://gist.github.com/pirate/c18bfe4fd96008ffa0aef25001a2e88f#}
        window.react_mount = document.getElementById('react');
    </script>
    <script src="/static/test.js"></script>
{% endblock %}