{% extends 'bhtom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras bhtom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-9">
            <h2 class="text-center">Black Hole TOM 2.0</h2>
            <p class="text-center"><img
                    src="{% static 'bh_tom_image.jpg' %}"
                    class="img-fluid mx-auto"></p>
            <p class="text-center">(Image courtesy of Ute Kraus.)</p>
            <div>
                <div id="react">
                    <!-- Contents get replaced by mounted React.Component -->
                    <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
                    <i class="pending"></i><br><br>
                </div>
            </div>
            <h3 style="color: red;">New version of BHTOM is still in beta-testing</h3>
            <ul>
                <li>Some features might not work</li>
                <li>Report to us in case of problems</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    Latest Comments
                </div>
                {% recent_comments %}
            </div>
            <br/>
            <div class="card text-white bg-dark">
                <div class="card-header">
                    Latest Targets
                </div>
                {% recent_targets %}
            </div>
        </div>
    </div>

    <h6>
    <i>        "I have one request, which is this, that the observations shall be made known each year. Observations buried in a desk are no observations. Should they be entrusted to me for reduction, or even for publication, I will undertake it with joy and thanks, and will also answer all questions with care and with the greatest pleasure.”
    </i>   
    <br>
    <p style="text-align:right;">
    Friedrich Wilhelm August Argelander, 1844 <br>
        “An Appeal to the Friends of Astronomy” in Schumacher's Astronomical Year Book<br>
        translated by Annie Jump Cannon, Popular Astronomy, 1912
    </p>       
        </h6>
<!--- from https://cosmoquest.org/x/365daysofastronomy/2010/01/24/january-24th-friedrich-wilhelm-august-argelander/-->        
    <script>
        {#window.props = {{props|json}};  // make sure to escape your props to prevent XSS! See here for the source for the json filter: https://gist.github.com/pirate/c18bfe4fd96008ffa0aef25001a2e88f#}
        window.react_mount = document.getElementById('react');
    </script>
    <script src="/static/test.js"></script>
{% endblock %}