{% load bootstrap4 %}
{% comment %}
The following nav-item list elements (li) are included in the bhtom_common/base.html navbar-nav (ul).
For customization instructions, see bhtom_common/base.html
{% endcomment %}

<li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
    <a class="nav-link" href="{% url 'about' %}">About Us <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item dropdown {% if 'targets' in request.resolver_match.url_name %}active{% endif %}">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Targets
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'bhtom_targets:list' %}">List</a>
        <a class="dropdown-item" href="{% url 'bhtom_targets:images' %}">Visual list</a>
        <a class="dropdown-item" href="{% url 'bhtom_targets:create' %}">Create</a>
        <a class="dropdown-item" href="{% url 'bhtom_targets:import' %}">Import</a>
        <a class="dropdown-item" href="{% url 'bhtom_catalogs:query' %}">Catalog Search</a>
    </div>
</li>
<li class="nav-item {% if 'targetgrouping' in request.resolver_match.url_name %}active{% endif %}">
    <a class="nav-link" href="{% url 'bhtom_targets:targetgrouping' %}">Target Grouping</a>
</li>
{% if request.user.is_superuser or request.user.is_staff %}
<li class="nav-item {% if request.resolver_match.namespace == 'alerts' %}active{% endif %}">
    <a class="nav-link" href="{% url 'alerts:list' %}">Alerts</a>
</li>
{% endif %}
{% if request.user.is_superuser or request.user.is_staff %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Observations</a>
    <ul class="dropdown-menu">
        <li class="nav-item {% if request.resolver_match.namespace == 'observations' %}active{% endif %}">
            <a class="nav-link" href="{% url 'bhtom_base.bhtom_observations:list' %}"
                style="color:black">Observations</a>
        </li>
        <li class="nav-item {% if request.resolver_match.namespace == 'observations' %}active{% endif %}">
            <a class="nav-link" href="{% url 'bhtom_base.bhtom_observations:group-list' %}"
                style="color:black">Observation Groups</a>
        </li>
        <li class="nav-item {% if request.resolver_match.namespace == 'observations' %}active{% endif %}">
            <a class="nav-link" href="{% url 'bhtom_base.bhtom_observations:template-list' %}"
                style="color:black">Observation Templates</a>
        </li>
        <li class="nav-item {% if request.resolver_match.namespace == 'observations' %}active{% endif %}">
            <a class="nav-link" href="{% url 'bhtom_base.bhtom_observations:facility-status' %}"
                style="color:black">Facility Status</a>
        </li>
    </ul>
</li>
{% endif %}

<li class="nav-item dropdown {% if request.resolver_match.namespace == 'dataproducts' %}active{% endif %}">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Data
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'bhtom_dataproducts:list_all' %}">All</a>
        <a class="dropdown-item" href="{% url 'bhtom_dataproducts:list_user' %}">Yours files</a>
    </div>
</li>
{% if request.user.is_superuser or request.user.is_staff %}
<li class="nav-item {% if request.resolver_match.namespace == 'proposals' %}active{% endif %}">
    <a class="nav-link" href="{% url 'bhtom_proposals:list' %}">Proposals</a>
</li>

{% endif %}
<li class="nav-item {% if request.resolver_match.namespace == 'observatory' %}active{% endif %}">
    <a class="nav-link" href="{% url 'bhtom_observatory:list' %}">Observatory</a>
</li>
{% if request.user.is_superuser or request.user.is_staff %}
    <li class="nav-item dropdown {% if 'bhtom_common' in request.resolver_match.url_name %}active{% endif %}">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Admin
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'user-list' %}">Users</a>
        <a class="dropdown-item" href="{% url 'bhtom_common:list' %}">Data</a>
        <a class="dropdown-item" href="{% url 'bhtom_dataproducts:cpcs_catalogs' %}">Cpcs Catalogs</a>
    </div>
</li>

{% endif %}