{% extends 'bhtom_common/base.html' %}
{% load comments bootstrap4 bhtom_common_extras targets_extras observation_extras dataproduct_extras static cache %}
{% block title %}Observatory {% endblock %}
{% block additional_css %}
    {% comment %} <link rel="stylesheet" href="{% static 'bhtom_common/css/main.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'bhtom_targets/css/main.css' %}"> {% endcomment %}
{% endblock %}

{% bootstrap_javascript jquery='True' %}
{% block content %}
<h4>List of observatories</h4>
<p>
List of your registered observatories/instruments you can use for uploading the data for processing.
You should register an observatory in your account if you want a datapoint to be labeled with your name.
<br>
Here you can add a new observatory to your list if you are planning to upload images or instrumental photometry for it.
You can choose one from the list of already registered observatories, or create a new one.
Note that different instrument (e.g. CCD) on the same telescope counts as a different observatory.
</p>

<div class="row">
  <div class="col-md-12">
<ul class="nav nav-tabs" id="tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user" role="tab"
       aria-controls="user" aria-selected="true">Favorite Observatories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
       aria-controls="all" aria-selected="false">Observatories</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
        <a href="{% url 'bhtom_observatory:userObservatory_create' %}" title="Add new observatory" class="btn btn-outline-primary">Add new observatory</a>
          <table id="observatories-table" class="table table-hover sortable">
          <thead>
            <tr>
              <th>Observatory Name</th><th>Lon</th><th>Lat</th><th>Observatory(ONAME)</th><th>Comment</th><th>Only Instrumental photometry file</th>
              <th>Details</th>
              {% if request.user.is_superuser %}
              <th>Update</th><th>Delete</th>
              {% endif %}
            </tr>
          </thead>
<tbody>
  {% for observatory in observatory_list %}
  <tr>
    <td>{{ observatory.name }}</td>
    <td>{{ observatory.lon }}</td>
    <td>{{ observatory.lat }}</td>
<td>
  {% if observatory.id in prefix_obs %}
    <ul>
      {% for prefix in prefix_obs|get_item:observatory.id %}
        <li>
          {{ prefix }}
          <!-- Button next to each camera/prefix -->
          <form action="{% url 'bhtom_observatory:userObservatory_create' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="observatory" value="{{ observatory.id }}">
            <input type="hidden" name="camera" value="{{ prefix }}">
            <button type="submit" class="btn btn-outline-primary btn-sm mt-2">Add to My List</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    No data available
  {% endif %}
</td>
    <td>{{ observatory.comment|truncatechars:30 }}</td>
    <td>{{ observatory.calibration_flg }}</td>
    
    <td>
      <a href="{% url 'bhtom_observatory:detail' pk=observatory.id %}" title="Observatory details" class="btn btn-primary">Details</a>
    </td>
    {% if request.user.is_superuser %}
    <td>
      <a href="{% url 'bhtom_observatory:update' pk=observatory.id %}" title="Update observatory" class="btn btn-primary">Edit</a>
    </td>
    <td>
      <a href="{% url 'bhtom_observatory:delete' pk=observatory.id %}" title="Delete observatory" class="btn btn-danger">Delete</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>
        </table>
  </div>
  <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
       <table  id="user-observatories-table" class="table table-hover sortable">
          <thead>
            <tr>
              <th>Observatory Name</th><th>Lon</th><th>Lat</th><th>Observatory(ONAME)</th><th>Comment</th><th>Details</th>
            </tr>
          </thead>
          <tbody>
            {% for observatory in observatory_user_list %}
            <tr>
              <td>{{ observatory.name }}</td>
              <td>{{ observatory.lon }}</td>
              <td>{{ observatory.lat }}</td>
              <td>
                {% if observatory.id in prefix_user_obs %}
                  {% for item in prefix_user_obs|get_item:observatory.id %}
                      {{ item }}
                      {% if not forloop.last %},{% endif %}
                  {% endfor %}
                {% else %}
                    No data available
                {% endif %}
             </td>
              <td>
                <a href="{% url 'bhtom_observatory:detail-favorite' pk=observatory.id %}" title="Observatory details with favorite cameras" class="btn  btn-primary">Details</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
    </div>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function() {
      $('#observatories-table').DataTable({
          "paging": false,
          "searching": false
      });
      $('#user-observatories-table').DataTable({
        "paging": false,
        "searching": false
    });
  });
  </script>

{% endblock %}

