{% extends 'bhtom_common/base.html' %}
{% load bootstrap4 static %}

{% block title %}Create observatory{% endblock %}

{% block content %}
<script src="{% static 'bhtom_observatory/create_observatory.js' %}"></script>
{{ users }}

{% if object %}
<form action="{% url 'bhtom_observatory:update' object.id %}" enctype="multipart/form-data" method="POST">
{% else %}
<h4>Create a new Observatory.</h4>
<br>
<p>
  Please fill the form below, check BHTOM manual for details.
  Your entry has to be then activated by the Administrator.
</p>
<p>
  The sample fits file is necessary for new observatories for verification of the automatic photometric processing.
  Please refer to the BHTOM Manual or get in touch.
</p>
<form action="{% url 'bhtom_observatory:create' %}" enctype="multipart/form-data" method="POST">
{% endif %}
  {% csrf_token %}
  {% bootstrap_form form %}

  <div id="alias-form-container">
    <h3>Cameras</h3>
    {{ cameras.management_form }}
    {% for form in cameras %}
            <div class="col-md-4 required-field" >
                {% bootstrap_field form.camera_name %}
            </div>
            <div class="col-md-4 required-field">
              {% bootstrap_field form.example_file %}
            </div>
            <div class="col-md-4 required-field">
                {% bootstrap_field form.binning %}
            </div> 
            <div class="col-md-4 required-field">
                {% bootstrap_field form.gain %}
            </div>
            <div class="col-md-4 required-field"> 
              {% bootstrap_field form.readout_noise %}
            </div>
            <div class="col-md-4 required-field">
              {% bootstrap_field form.saturation_level %}
            </div>
            <div class="col-md-4 required-field">
              {% bootstrap_field form.pixel_scale %}
            </div>
            <div class="col-md-4 required-field">
              {% bootstrap_field form.pixel_size %}
            </div>
            <div class="col-md-4 required-field">
              {% bootstrap_field form.readout_speed %}
            </div>
    {% endfor %}
  
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% if object %}
    Update
    {% else %}
    Create Observatory
    {% endif %}
  </button>
  {% endbuttons %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('form').addEventListener('submit', function(event) {
          var requiredFields = document.querySelectorAll('.required-field');
          var isValid = true;
  
          requiredFields.forEach(function(field) {
              if (!isParentVisible(field) || !field.value.trim()) {
                  field.style.border = '1px solid red';
                  isValid = false;
              } else {
                  field.style.border = ''; // Reset border if field is filled and its parent is visible
              }
          });
  
          if (!isValid) {
              event.preventDefault(); // Prevent form submission if any required visible field is empty
          }
      });
  });
  
  // Function to check if the parent container of an element is visible
  function isParentVisible(element) {
      var parent = element.parentElement;
      while (parent) {
          if (parent.offsetWidth <= 0 || parent.offsetHeight <= 0) {
              return false; // Parent container is not visible
          }
          parent = parent.parentElement;
      }
      return true; // All parent containers are visible
  }
  
  </script>
</form>
{% endblock %}
