body {
    padding-top: 5rem;
    background-color: #080404;
}

.content {
  padding: 3rem 1.5rem;
}

.navbar-brand > img {
  max-height: 25px;
}

.input-group-text {
  font-family: monospace;
}

.nav-item {
  cursor: pointer;
}

#login-buttons > li {
  margin: 0 2px 0 2px;
}

.btn-primary {
    background-color: #f7586f;
    border-color: #f7586f;
}

.btn-outline-primary {
    color: #f7586f;
    border-color: #f7586f;
}

a {
    color: #f7586f;
}

h1, h2, h3, h4, h5, h6, p, li, label, dt, dd, th, td {
    color: #d7d6d6;
}

.red {
  background-Color: red;
}
.orange {
  background-Color: orange;
}
.green {
  background-Color: green;
}

.dataTables_length select {
  color: #f7586f;
}