{% extends 'bhtom_common/base.html' %}
{% load bootstrap4 targets_extras bhtom_targets_extras dataproduct_extras cache static %}
{% block title %}Targets{% endblock %}
{% block content %}
    <div class="row">
        <!-- target list is being displayed for the whole range of the page -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <span class="float-right" style="color: rgb(43, 158, 203);">
                        {{ target_count }} {% if target_count == 1 %}Target{% else %}Targets{% endif %} &nbsp;
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          Create Targets
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="{% url 'targets:create' %}" title="Create a Target">Create a Target</a>
                          <a class="dropdown-item" href="{% url 'targets:import' %}" title="Import Targets">Import Targets</a>
                          <a class="dropdown-item" href="{% url 'bhtom2.bhtom_catalogs:query' %}"
                             title="Catalog Search">Catalog Search</a>
                        </div>

                        <button type="button" class="btn btn-primary" onclick="export_selected_targets()">Export Selected Targets</button>

                  </span>
                </div>
            </div>
            <div style="padding-bottom: 20px;"></div>
            {% select_target_js %}
            {% cache 86400 target_distribution_cache object_list using="targetList" %}
                {% target_distribution filter.qs %}
            {% endcache %}

            <label id="displaySelected"></label>
            <button id="optionSelectAll" type="button" class="btn btn-link"
                    onClick="select_all({{ target_count }})"></button>
            <form id="grouping-form" action="{% url 'targets:add-remove-grouping' %}" method="POST">
                {% csrf_token %}
                <div class="form-group d-flex justify-content-end align-items-baseline">
                    <label>Add/Remove from grouping</label>
                    <select name="grouping" class="form-control w-25 ml-1">
                        {% for grouping in groupings %}
                            <option value="{{ grouping.id }}">{{ grouping.name }}</option>
                        {% endfor %}
                    </select>

                    <input type="hidden" value="{{ query_string }}" name="query_string">
                    <input type="hidden" value="False" id="isSelectAll" name="isSelectAll">
                    <button type="submit" class="btn btn-outline-primary ml-1" name="add">Add</button>
                    <button type="submit" class="btn btn-outline-primary ml-1" name="move">Move</button>
                    <button type="submit" class="btn btn-outline-danger ml-1" name="remove">Remove</button>
                </div>
                {% if query_string == '' %}
                   {% target_table object_list %}
                {% else %}
                    {% target_table object_list %}
                {% endif %}
            </form>
            <!-- closing table and form to add targets -->

        </div>
    </div>

    <!-- filters below the table (new row) -->
    <div class="row">
        <div class="col-md-12">

            <h4>Filtering</h4>
            {{ filter.fields }}
            <div class="col-md-4">
                <form action="" method="get" class="form">
                    {% bootstrap_form filter.form exclude='tweet,epoch,pm_ra,pm_dec,distance,distance_err,dont_update_me' %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Filter
                        </button>
                        <a href="{% url 'targets:list' %}" class="btn btn-secondary" title="Reset">Reset</a>
                        <button type="submit" formaction="{% url 'targets:export' %}" id="invisible-export-button"
                                style="display:none"></button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('.table').DataTable();
            $('#DataTables_Table_0_filter').hide();
    
            // Function to set color and text for pagination buttons
            function setPaginationStyle() {
                var buttons = document.querySelectorAll('.paginate_button');
                for (var i = 0; i < buttons.length; i++) {
                    buttons[i].style.setProperty('color', '#fff', 'important');
                }
    
                // Change the text and color for the previous button
                var prev_button = document.querySelector('.paginate_button.previous');
                if (prev_button) {
                    prev_button.textContent = '<<';
                    prev_button.style.setProperty('color', '#fff', 'important');
                }
    
                // Change the text and color for the next button
                var next_button = document.querySelector('.paginate_button.next');
                if (next_button) {
                    next_button.textContent = '>>';
                    next_button.style.setProperty('color', '#fff', 'important');
                }
            } 
    
            // Check if the DataTables table is empty
            if (table.data().count() > 0) {
                // Initial style setup
                setPaginationStyle();
          
                // Event delegation for pagination buttons
                $('.dataTables_paginate').on('click', '.paginate_button', function () {
                    // Set the color immediately on click
                    $(this).css('color', '#fff !important');
                });
          
                // After each page change, reapply the style
                table.on('draw', function () {
                    setPaginationStyle();
                });
            }

            $('#id_cone_search').on('input', function() {
                var inputVal = $(this).val().trim();
                var isValid = /^[\w\s]+,\s*[\w\s]+,\s*[\w\s]+$/g.test(inputVal);
                if (!isValid) {
                    $(this).css('color', 'red');
                } else {
                    $(this).css('color', ''); // Reset color
                }
            });
            $('#id_target_cone_search').on('input', function() {
                var inputVal = $(this).val().trim();
                var isValid = /^[\w\s]+,\s*[\w\s]+$/g.test(inputVal);
                if (!isValid) {
                    $(this).css('color', 'red');
                } else {
                    $(this).css('color', ''); // Reset color
                }
            });
        });
    </script>
{% endblock %}