{% extends 'bhtom_common/base.html' %}
{% load bootstrap4 static %}
{% block title %}Latex Generator{% endblock %}
{% block content %}
    <h3> Generate LaTeX description for {{ object.name }}</h3>
    <h4 style="color:red;">Warning: This is an experimental use of ChatGPT and may be subject to errors.</h4>

    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- <div id="alias-form-container">
                <h3>Aliases</h3>
                {#    {% bootstrap_formset names_form %}#}
                {{ names_form.management_form }}
                {% for form in names_form %}
                    <div class="alias-formset row">
                        <div class="col-md-4">
                            {% bootstrap_field form.source_name %}
                        </div>
                        <div class="col-md-6">
                            {% bootstrap_field form.name %}
                        </div>
                    </div>
                {% endfor %} -->

        {% buttons %}

        <a href="{% url 'targets:detail' pk=object.id %}" class="btn btn-primary" title="Back">Back</a>
        {% endbuttons %}
        </form>
        {% endblock %}